/*
  Minified by https://www.toptal.com/developers/cssminifier
  SRI hash calculated by https://www.srihash.org
*/

/* Fonts */
@font-face {
  font-family: 'Bw Gradual';
  src: url('fonts/bw-gradual-bold/BwGradual-Bold.woff2') format('woff2'),
    url('fonts/bw-gradual-bold/BwGradual-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bw Gradual';
  src: url('fonts/bw-gradual-bold-italic/BwGradual-BoldItalic.woff2') format('woff2'),
    url('fonts/bw-gradual-bold-italic/BwGradual-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bw Gradual';
  src: url('fonts/bw-gradual-regular/BwGradual-Regular.woff2') format('woff2'),
    url('fonts/bw-gradual-regular/BwGradual-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bw Gradual';
  src: url('fonts/bw-gradual-regular-italic/BwGradual-RegularItalic.woff2') format('woff2'),
    url('fonts/bw-gradual-regular-italic/BwGradual-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body {
  margin-top: 25px;
  margin-bottom: 50px;
  background-color: #dcdcdc;
  color: #212121;
  font-family: 'Bw Gradual', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  background: linear-gradient(-70deg, #8250df, #c90064);
  background-clip: text;
  -webkit-text-fill-color: rgba(0,0,0,0);
}

h1 {
  font-size: 400%;
}

h2 {
  font-size: 200%;
}

hgroup p {
  font-weight: bold;
}

.container a {
  color: #c90064;
}

.timeline, .timeline hgroup {
  position: relative;
}

.timeline::before {
  background-color: #c90064;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.timeline hgroup::before {
  background-color: #c90064;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 15px;
}

.timeline p, .timeline h3 {
  padding-left: 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    color-scheme: dark;
    background-color: #212121;
    color: #dcdcdc;
  }
}
