---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="Ruben Arakelyan’s curriculum vitae and contact details.">
  <div class="h-resume">
    <header>
      <img src="/images/logo.svg" width="112" height="112" alt="Ruben Arakelyan logo" class="logo">
      <h1 class="my-4 text-6xl print:my-0 p-name">
        Ruben Arakelyan
      </h1>
      <p class="text-2xl print:mb-0" role="heading">
        Lead Ruby/Ruby on Rails Developer
      </p>
      <p class="mt-0 text-2xl hidden print:block">
        <i class="fa-light fa-envelope"></i> ruben@arakelyan.com
      </p>
    </header>
    <aside class="2xl:fixed 2xl:top-5 2xl:right-5 2xl:z-50 2xl:max-w-xs 2xl:mt-0 mt-4 p-4 space-x-4 rtl:space-x-reverse shadow space-x bg-white print:hidden">
      <div class="ps-4">
        <p class="mb-2"><strong>Contact me</strong></p>
        <p class="mb-2">
          <i class="fa-light fa-envelope"></i>
          <a href="mailto:ruben@arakelyan.uk">ruben@arakelyan.uk</a>
        </p>
        <p class="mb-2">
          <i class="fa-light fa-earth-europe"></i>
          <a href="https://www.wackomenace.co.uk/?r=rubenarakelyan" target="_blank" rel="noopener noreferer" aria-label="opens in a new tab">wackomenace</a>
        </p>
        <p class="mb-2">
          <i class="fa-light fa-briefcase"></i>
          <a href="https://www.safran.agency/?r=rubenarakelyan" target="_blank" rel="noopener noreferer" aria-label="opens in a new tab">Safran</a>
        </p>
        <p class="mb-2">
          <i class="fa-light fa-briefcase"></i>
          <a href="https://tfnd.uk/?r=rubenarakelyan" target="_blank" rel="noopener noreferer" aria-label="opens in a new tab">Twenty Four Nine Development</a>
        </p>
        <p class="mb-2">
          <i class="fa-brands fa-github"></i>
          <a href="https://github.com/rubenarakelyan" target="_blank" rel="noopener noreferer" aria-label="opens in a new tab">rubenarakelyan</a>
        </p>
        <p class="mb-2">
          <i class="fa-brands fa-linkedin"></i>
          <a href="https://www.linkedin.com/in/rubenarakelyan/" target="_blank" rel="noopener noreferer" aria-label="opens in a new tab">rubenarakelyan</a>
        </p>
        <p class="mb-2">
          <i class="fa-brands fa-bluesky"></i>
          <a href="https://bsky.app/profile/arakelyan.xyz" target="_blank" rel="noopener noreferer" aria-label="opens in a new tab">arakelyan.xyz</a>
        </p>
        <p class="mb-2">
          <i class="fa-brands fa-mastodon"></i>
          <a href="https://ruby.social/@ruben" target="_blank" rel="noopener noreferer" aria-label="opens in a new tab">@ruben@ruby.social</a>
        </p>
        <p class="mb-2">
          Contact me for my address and mobile number.
        </p>
        <p>
          <i class="fa-light fa-file-pdf"></i>
          <a href="https://cdn.rubenarakelyan.com/cv.pdf?3" target="_blank" rel="noopener noreferer" aria-label="opens in a new tab">PDF CV</a>
        </p>
      </div>
    </aside>
    <section class="mt-4 print:mt-0">
      <blockquote>
        <p class="mb-2 print:mb-1 p-summary">
          I am an experienced, enthusiastic and plain-spoken <strong>lead developer</strong> and proven leader of software development teams, with over 12 years of experience in both small and large organisations across the private and public sectors.
        </p>
        <p>
          As well as writing clean <strong>Ruby and Ruby on Rails</strong> code, I also do project analysis, feature design, technical and team leadership and consultancy. I am able to speak clearly, understandably and frankly to both technical and non-technical audiences to explain complex concepts, agree on major decisions and foster a shared understanding.
        </p>
      </blockquote>
    </section>
    <section class="mt-4 print:mt-0">
      <h2 class="mb-2 print:mb-0 text-3xl">
        Employment
      </h2>
      <div class="timeline">
      <section class="p-experience h-event">
        <hgroup>
          <h3 class="mb-2 print:mb-0 text-xl">
            <span class="p-name">Principal</span>, <span class="p-location">Safran</span>
          </h3>
          <p class="mb-2 dt-duration">
            July 2024&ndash;Present
          </p>
        </hgroup>
        <p class="mb-2 p-summary">
          Safran is a small bespoke web and mobile app development and maintenance agency based in Cornwall, UK but working around the world. We build both customer-facing and internal web and mobile apps, maintain and upgrade your existing apps and provide tailored advice on everything related to web development.
        </p>
        <p class="mb-2">
          We work with all organisations, small or large, in any sector and most industries.
        </p>
      </section>
        <section class="p-experience h-event">
          <hgroup>
            <h3 class="mb-2 print:mb-0 text-xl">
              <span class="p-name">Senior Developer</span>, <span class="p-location">Office for Product Safety and Standards</span>
            </h3>
            <p class="mb-2">
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Ruby</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Ruby on Rails</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">PostgreSQL</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">AWS</span>
            </p>
            <p class="mb-2 dt-duration">
              January 2023&ndash;April 2024
            </p>
          </hgroup>
          <p class="mb-2 p-summary">
            I worked on two projects: SCPN (Submit Cosmetic Product Notifications) and PSD (Product Safety Database). SCPN is a database of cosmetic products marketed in the UK along with their compositions, used by manufacturers and others to notify cosmetic products and public sector users for health and safety purposes. PSD is a database of products of concern marketed in the UK, including those subject to recall, used by public sector users to control importation, sale and recall of unsafe or non-compliant products.
          </p>
          <p class="mb-2">
            As well as feature and maintenance work on both systems, I built the initial version of a support portal for SCPN and PSD to allow internal support teams to administer notifications and users. I also built PRISM, a tool within PSD to create risk assessments as well as a major overhaul of how notifications are created in PSD.
          </p>
        </section>
        <section class="p-experience h-event">
          <hgroup>
            <h3 class="mb-2 print:mb-0 text-xl">
              <span class="p-name">Senior Backend Engineer</span>, <span class="p-location">Hopin</span>
            </h3>
            <p class="mb-2">
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Ruby</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Ruby on Rails</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">PostgreSQL</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">AWS</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Kubernetes</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Apache Kafka</span>
            </p>
            <p class="mb-2 dt-duration">
              April 2021&ndash;November 2022
            </p>
          </hgroup>
          <p class="mb-2 p-summary">
            I was a Senior Backend Engineer, firstly on the Analytics team, building tools to provide event organisers with analytics and insights into their events in the form of reports, visualisations and statistics. I then moved to the Product Growth team to build new features and improvements to drive new customer acquisition and retention.
          </p>
          <p class="mb-2">
            I also worked on a number of internal cross-team technical improvement projects including moving apps to a new Kubernetes environment, upgrading frameworks and improving the <abbr title="continuous integration">CI</abbr> environment.
          </p>
        </section>
        <section class="p-experience h-event">
          <hgroup>
            <h3 class="mb-2 print:mb-0 text-xl">
              <span class="p-name">Lead Developer</span>, <span class="p-location">Resolver</span>
            </h3>
            <p class="mb-2">
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Ruby</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Ruby on Rails</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">PostgreSQL</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Technical Leadership</span>
            </p>
            <p class="mb-2 dt-duration">
              August 2019&ndash;April 2021
            </p>
          </hgroup>
          <p class="mb-2 p-summary">
            I was the Lead Developer at Resolver Group, working mainly on Accord ODR, a collaborative Online Dispute Resolution (ODR) platform for courts, tribunals, ombudsmen and alternative dispute resolution providers.
          </p>
          <p class="mb-2">
            I led a team of two developers and myself building Accord ODR as a <abbr title="software as a service">SaaS</abbr> platform on <abbr title="Amazon Web Services">AWS</abbr> with the latest technologies such as <abbr title="continuous integration/continuous deployment">CI/CD</abbr>, immutable containerised builds and serverless functions, using Ruby on Rails.
          </p>
          <p class="mb-2">
            I also had a high-level oversight of the other technical teams in the company building consumer-side and bespoke commercial applications.
          </p>
        </section>
        <section class="p-experience h-event">
          <hgroup>
            <h3 class="mb-2 print:mb-0 text-xl">
              <span class="p-name">Lead Developer (GOV.UK)</span>, <span class="p-location">Government Digital Service</span>
            </h3>
            <p class="mb-2">
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Ruby</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Ruby on Rails</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">PostgreSQL</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Technical Leadership</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Strategic Planning</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">AWS</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Terraform</span>
            </p>
            <p class="mb-2 dt-duration">
              November 2018&ndash;July 2019
            </p>
          </hgroup>
          <p class="mb-2 p-summary">
            I was a Lead Developer on GOV.UK, working with other senior technical leaders to help shape the technical future of the platform for the next two years. I worked on topics that crossed team and quarterly planning boundaries, the long-term strategic vision for the GOV.UK platform as well as people issues such as team planning, developer health and placements.
          </p>
          <p class="mb-2">
            I was also the link between the GOV.UK Platform Health team and the Reliability Engineering team migrating the platform to <abbr title="Amazon Web Services">AWS</abbr> and starting the containerisation of GOV.UK apps.
          </p>
          <p class="mb-2">
            I was an interviewer for junior technologist, developer and senior developer positions, and a line manager to two developers.
          </p>
        </section>
        <section class="p-experience h-event">
          <hgroup>
            <h3 class="mb-2 print:mb-0 text-xl">
              <span class="p-name">Developer/Senior Developer/Technical Lead</span>, <span class="p-location">Government Digital Service</span>
            </h3>
            <p class="mb-2">
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Ruby</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Ruby on Rails</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">PostgreSQL</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Technical Leadership</span>
            </p>
            <p class="mb-2 dt-duration">
              July 2016&ndash;November 2018
            </p>
          </hgroup>
          <p class="mb-2 p-summary">
            I was a Developer on the Finding Things team, working on search and navigation across GOV.UK, including the development and initial roll-out of the new topic taxonomy.
          </p>
          <p class="mb-2">
            I also helped host the first <abbr title="Government Digital Service">GDS</abbr> capture-the-flag event and a full-day security workshop for developers across <abbr title="Government Digital Service">GDS</abbr>.
          </p>
          <p class="mb-2">
            I was a Senior Developer working on services for British citizens abroad, the GOV.UK email subscription system and government organisational presences on GOV.UK.
          </p>
          <p class="mb-2">
            As a technical lead, I worked on email subscriptions across GOV.UK and the GOV.UK publishing platform, building a system sending approximately 1 million emails per day to hundreds of thousands of subscribers. I set the overall direction of the development team and oversaw strategic decisions about technologies and products, working with other team and technical leads to ensure consistency and quality. I also ensured the developers were happy and were meeting their own development goals.
          </p>
          <p class="mb-2">
            I was a member of the inaugural Shadow Board, providing scrutiny of and input to the <abbr title="Government Digital Service">GDS</abbr> Management Team.
          </p>
        </section>
        <section class="p-experience h-event">
          <hgroup>
            <h3 class="mb-2 print:mb-0 text-xl">
              <span class="p-name">Lead Developer</span>, <span class="p-location">orderswift</span>
            </h3>
            <p class="mb-2">
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">PHP</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">REST APIs</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Laravel</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Point of Sale (PoS) Systems</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">IPSec</span>
            </p>
            <p class="mb-2 dt-duration">
              May 2015&ndash;June 2016
            </p>
          </hgroup>
          <p class="mb-2 p-summary">
            I was the Lead Developer at orderswift, working on the core platform and product as well as connected applications and <abbr title="application programming interfaces">APIs</abbr>. I built version 2 of the platform which was in use during the company’s rapid expansion phase, powering online click-and-collect food ordering for large multi-site operators such as Ask Italian, Zizzi and Prezzo. The core platform was built on Laravel, Forge and DigitalOcean with Codeception for testing and various third-party API integrations with <abbr title="electronic point-of-sale">EPoS</abbr> solutions and payment providers.
          </p>
        </section>
        <section class="p-experience h-event">
          <hgroup>
            <h3 class="mb-2 print:mb-0 text-xl">
              <span class="p-name">Business Analyst</span>, <span class="p-location">Shell</span>
            </h3>
            <p class="mb-2">
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">SAP BusinessObjects</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">SharePoint</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Actimize</span>
              <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded print:border p-skill">Office 365</span>
            </p>
            <p class="mb-2 dt-duration">
              November 2010&ndash;May 2015
            </p>
          </hgroup>
          <p class="mb-2 p-summary">
            I wrote all the documentation for the roll-out of SAP BusinessObjects Analysis and Dashboards to all Downstream businesses. I also trained and supported super users using this documentation. I was the focal point and subject matter expert for all support queries.
          </p>
          <p class="mb-2">
            I worked on the Insight programme, which provided monitoring, surveillance and reporting software for regulatory compliance for Shell Trading, including trade reporting to <abbr title="European Securities and Markets Authority">ESMA</abbr>. I authored functional designs, worked with source system owners, and provided data analysis services for multiple legacy systems and third party systems as well as leading defect management and troubleshooting.
          </p>
          <p class="mb-2">
            Finally, I was a Business Analyst on the Workspace Evolution programme investigating the introduction of Office 365 to all end users, including Office apps, Exchange, Lync, SharePoint, OneDrive and Yammer, as well as a consultant to a separate project, assisting with standards-based web application remediation and the introduction of <abbr title="Internet Explorer">IE</abbr> 11.
          </p>
        </section>
      </div>
    </section>
    <section class="mt-4">
      <h2 class="mb-2 print:mb-0 text-3xl">
        Education
      </h2>
      <div class="timeline">
        <section class="p-education h-event">
          <hgroup>
            <h3 class="mb-2 print:mb-0 text-xl">
              <span class="p-name">BSc (Hons) Applied Computer Science (2.1)</span>, <span class="p-location">University of Reading</span>
            </h3>
            <p class="mb-2 dt-duration">
              2006&ndash;2010
            </p>
          </hgroup>
        </section>
      </div>
    </section>
    <section class="mt-4">
      <h2 class="mb-2 print:mb-0 text-3xl">
        References
      </h2>
      <p class="mb-2">
        Available on request.
      </p>
    </section>
  </div>
</Layout>
